<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Person</title>
</head>
<body>
    <form action="findbyid" method="get">
        Id : <input type="number" name="id">
        <input type = "submit">
    </form>
    <br><br>
    <form action="findbyname" method="get">
        Name : <input type="text" name="name">
        <input type = "submit">
    </form>
    <br><br>
    <form action="findbyage" method="get">
        Age : <input type="number" name="age">
        <input type = "submit">
    </form>
</body>
</html>